 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: #081b31;
    color: thistle;
    line-height: 5rem;
    height: 5rem;
}

.choice{
   height: 120px;
    width:120px;
    border-radius: 40%;
    justify-content: center;
}
.choice:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 30px rgb(14, 2, 2);
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  
}
#rock{
    background-color: rgb(76, 175, 246);
    
}
#paper{
    background-color: rgb(65, 223, 162);
}
#scissor{
    background-color: rgb(242, 92, 162);
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 3rem;
   
}
.score{
    text-align: center;
   font-size: 2rem;
    margin-top: 30px;
}

#result{
    background-color: #081b31;
    color:#fff;
   font-size: 2rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
}
.msg-container{
    text-align: center;
    margin-top: 30px;
}
